# dependencies
node_modules/
.pnp
.pnp.js

# testing
coverage/

# production
build/
dist/

# environment files
.env
.env.local
.env.development
.env.development.local
.env.test
.env.test.local
.env.production
.env.production.local
server/.env
frontend/.env

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# misc
.DS_Store
Thumbs.db

# IDE/editor folders
.vscode/
.idea/

# OS
*.swp

# Optional: coverage & reports
coverage/
*.lcov

# Optional: SASS cache
.sass-cache

# Optional: dotenv environment examples
.env.example
frontend/.env.example
server/.env.example
